.layout {
	background-color: white;
}
.container {
	flex: 0 1 1020px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 26px;
}

.header > span {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -0.32px;
}

.filters {
	display: flex;
	padding: 16px;
	align-items: center;
	gap: 32px;
	align-self: stretch;
	border-radius: 4px;
	background: #f6f6f6;
	margin-bottom: 24px;
}

.filters .search {
	flex: 4;
}
.filters .check {
	flex: 1;
}

.head {
	display: flex;
	align-items: flex-end;
	gap: 10px;
}

.head .col {
	padding: 16px;
}
.rows > div:nth-of-type(odd) {
	background-color: #f6f6f6;
}
.row {
	display: flex;
	align-items: center;
	gap: 10px;
}

.rows > div.flagged {
	background: #fadcd5;
	color: #b22727;
}

.col {
	padding: 8px 16px;
}

.actions {
	display: flex;
	gap: 10px;
}

.actions button {
	border: none;
	outline: none;
	background: none;
	color: #0079ad;
}

.actions .delete {
	color: #b22727;
}
