.title {
	font-size: 28px;
	font-weight: 500;
	margin: 72px 0 24px;
}

.row {
	display: flex;
	gap: 32px;
	margin-bottom: 24px;
}

.row > * {
	flex: 1;
}

.fileRow {
	display: flex;
	align-items: center;
	gap: 32px;
}

.actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 48px;
	gap: 16px;
}

.actions a {
	margin-left: auto;
	color: var(--blue);
}

.actions button {
	display: flex;
	align-items: center;
	gap: 10px;
}
