.button {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background: #0079ad;
	color: white;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.32px;
	padding: 5px 12px;
	transition: all 200ms ease-in-out;
}
