.container {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.chatRoot {
	flex: 1;
	display: flex;
}

.chatContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.chatEmptyState {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 1024px;
}

.chatEmptyStateTitle {
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 41.6px;
	margin: 0 0 10px;
}

.chatEmptyStateSubtitle {
	font-size: 17px;
	font-weight: 400;
	line-height: 28.9px; /* 170% */
	margin: 0 0 45px;
}

@media only screen and (max-height: 780px) {
	.chatEmptyState {
		padding-top: 0;
	}

	.chatEmptyStateTitle {
		font-size: 3rem;
		margin-bottom: 0px;
	}
}

.chatMessageStream {
	width: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.chatMessageGpt {
	margin-bottom: 20px;
	max-width: 80%;
	display: flex;
	min-width: 500px;
}

.chatMessageGptMinWidth {
	max-width: 500px;
	margin-bottom: 20px;
}

.chatInput {
	flex: 0 0 100px;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: auto;
	align-items: flex-end;
}

.chatAnalysisPanel {
	flex: 1;
	overflow-y: auto;
	max-height: 89vh;
	margin-left: 20px;
	margin-right: 20px;
	/* position: fixed;
	background: #fff;
	padding: 20px;
	left: 10%;
	right: 10%; */
}

.chatSettingsSeparator {
	margin-top: 15px;
}

.loadingLogo {
	font-size: 28px;
}

.commandsContainer {
	display: flex;
	align-self: flex-end;
}

.commandButton {
	margin-right: 20px;
}
