uvicorn
pymongo
python-dotenv
fastapi
python-multipart
pypdf
bs4
apscheduler
sse-starlette
llama-index
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai
llama-index-vector-stores-pinecone
pinecone-client
Office365-REST-Python-Client