* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f6f6f6;
	color: #28292c;
}

#root {
	height: 100%;
}
