.answerContainer {
	position: relative;
	max-width: 590px;
	padding: 10px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 2px 4px 0px rgba(58, 58, 58, 0.1);
}

.answerLogo {
	font-size: 28px;
}

.answerIcons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}
.answerIcons svg {
	height: 20px;
}

.answerActionIcons {
	display: flex;
	gap: 5px;
}
.answerActionIcon {
	border-radius: 5px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border: none;
}
.answerActionIcon:hover {
	background: #e5f3f9;
}
.answerActionIcon:active {
	background: var(--blue);
}
.answerActionIcon svg {
	color: var(--blue);
}
.answerActionIcon:active svg {
	color: #fff;
}

.answerText {
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 0.255px;
}

.answerText table {
	border-collapse: collapse;
}

.answerText td,
.answerText th {
	border: 1px solid;
	padding: 5px;
}

.citations {
	padding-top: 10px;
}

.citations .citationLearnMore {
	font-family: Roboto;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 164.706% */
	letter-spacing: 0.255px;
}

.citationWrapper {
	margin: 0 5px 5px 0;
}

.citation {
	border: none;
	color: #056089;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #ceecf9;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px; /* 128.571% */
	padding: 5px 10px;
}

.citation:hover {
	text-decoration: underline;
}

.citationFlag {
	border: none;
	color: #056089;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #ceecf9;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px; /* 128.571% */
	padding: 5px 10px;
	margin-left: 2px;
}

.citationFlag.citationFlagged {
	background-color: var(--coral);
	color: var(--red);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
	line-height: 22px; /* 129.412% */
	transition: all 200ms ease-in-out;
	cursor: pointer;
	color: var(--blue);
}

.feedbackWrapper {
	position: absolute;
	top: calc(100% + 10px);
	left: 10px;
	display: flex;
	gap: 10px;
}

.feedbackButtons {
	display: flex;
	gap: 5px;
}

.feedbackButtons button {
	background-color: white;
	padding: 5px;
	border: none;
}

.feedbackButtons button svg {
	height: 24px;
	width: 24px;
}

.activeButton {
	color: #397f57;
	background: #d4e8d7;
}

.feedbackButtons button:hover,
.activeButton:hover {
	color: #fff;
	background: #397f57;
}
.form {
	display: flex;
	gap: 10px;
}
.inputWrapper {
	flex: 1;
	background-color: white;
	padding: 0 10px;
}

.submitButton {
	background: var(--blue);
	color: #fff;
	border: none;
	padding: 0 10px;
}

.followupQuestionsList {
	margin-top: 10px;
}

.followupQuestionLearnMore {
	margin-right: 5px;
	font-weight: 600;
	line-height: 24px;
}

.followupQuestion {
	font-weight: 600;
	line-height: 24px;
	text-align: center;
	border-radius: 4px;
	padding: 0px 8px;
	background: #e8ebfa;
	color: black;
	font-style: italic;
	text-decoration: none;
	cursor: pointer;
}

.supContainer {
	text-decoration: none;
	cursor: pointer;
}

.supContainer:hover {
	text-decoration: underline;
}

sup {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: 600;
	color: var(--blue);
	vertical-align: top;
	height: 14px;
	cursor: pointer;
}

.retryButton {
	width: fit-content;
	border-radius: 5px;
	background: var(--blue);
	padding: 12px 33px;
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; /* 129.412% */
}

@keyframes loading {
	0% {
		content: '';
	}
	25% {
		content: '.';
	}
	50% {
		content: '..';
	}
	75% {
		content: '...';
	}
	100% {
		content: '';
	}
}

.loadingdots::after {
	content: '';
	animation: loading 1s infinite;
}
