.title {
	font-size: 28px;
	font-weight: 500;
	margin: 72px 0 24px;
}

.row {
	display: flex;
	gap: 32px;
	margin-bottom: 24px;
}

.row > * {
	flex: 1;
}

.fileRow {
	display: flex;
	align-items: center;
	gap: 32px;
}

.actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 48px;
	gap: 16px;
}

.actions a {
	margin-left: auto;
	color: var(--blue);
}

.actions button {
	display: flex;
	align-items: center;
	gap: 10px;
}

.log {
	padding: 16px;
	margin-bottom: 1px;
	background: #fff;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}
.log.flagged {
	background-color: var(--red);
	color: white;
}
.logRow:not(:last-child) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
}
.logTitle {
	font-size: 16px;
	font-weight: 600;
}
.logTime {
	opacity: 0.5;
}
