.layout {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header {
	background-color: #fff;
	font-size: 20px;
	line-height: 26px; /* 130% */
	border-bottom: 1px solid #ededed;
	background: #fff;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.headerContainer {
	display: flex;
	max-width: 1020px;
	margin: 0 auto;
	padding: 25px 12px;
	justify-content: space-between;
	align-items: center;
}

.headerTitleContainer {
	flex: 1;
	display: flex;
	align-items: flex-end;
	margin-right: 40px;
	text-decoration: none;
}

.headerTitleContainer span {
	color: #28292c;
	font-size: 17px;
	font-weight: 500;
	line-height: 20px; /* 117.647% */
	margin-left: 5px;
}

.headerLogo {
	height: 50px;
	width: 105px;
	fill: black;
	stroke: black;
}

.headerTitle {
	margin-left: 12px;
	font-weight: 600;
}

.headerNav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerNav a {
	margin: 0 10px;
}

.headerNavList {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.headerNavPageLink {
	color: #28292c;
	text-decoration: none;
	opacity: 0.75;

	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	transition-duration: 500ms;
	transition-property: opacity;
}

.headerNavPageLink:hover {
	opacity: 1;
}

.headerNavPageLinkActive {
	color: #28292c;
	text-decoration: none;
}

.headerNavLeftMargin {
	margin-left: 20px;
}

.headerRightText {
	font-weight: normal;
	margin-left: 40px;
}

.headerActions {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.main {
	flex: 1;
	padding: 191px 12px 25px;
	display: flex;
	justify-content: center;
}

.main > * {
	flex: 0 1 1020px;
}

.piButton {
	position: fixed;
	bottom: 0;
	right: 0;
	border: none;
	background: none;
	color: #9a9a9a;
	padding: 10px;
}
.piButton:hover {
	color: #28292c;
}
